{% extends './layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="dist/master.css">
{% endblock %}
{% block body %}
{% raw %}
  <div id="app"></div>
{% endraw %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    window.global = {
      userId: '{{userId}}',
      ws: '{{ws}}',
    };
</script>
<script type="text/javascript" src="dist/master.js"></script>
{% endblock %}
